.about {
	padding: 20px 20px;
	color:#525252;
	line-height:1.8em;
	font-size:14px;
	.title {
		text-align: center;
		color: #343434;
		font-weight: 600;
		font-size: 22px;
		margin: 10px 0;
	}
	h3 {
		font-size: 19px;
	}
	.hr {
		border-top: 1px solid #e4e4e4;
		margin:0 60px 30px 60px;
	}
	a{
		color:#3F99D4;
	}
}

.sections {
	.section{
		padding: 20px;
		min-height: 200px;
		width: 100%;
		.text {
			img {
				margin: 0 0 20px 0;
			}
			padding: 20px 0 0 0;
			h1 {
				color: #fff;
			}
			p {
				color: #A29FAB;
				font-size: 11pt;
				font-weight: 100;
			}
		}
		.visitbutton {
			color:#FCFDFC;
			padding: 15px 30px;
			background-color:#36B97B;
			@include border-radius(4px);
		}
	}
	#section1 {
		background-color: #292B34;
	}
	#section2 {
		background-color: #292B34;
		padding: 20px 20px 0 20px;
		.visitbutton {
			background-color:#1B80BC;
		}
	}
}