@charset "UTF-8";

@import "vars";
@import "inuit.css/inuit"; 
@import "ui/grids";


@font-face {
	font-family: 'Open-Sans-Light'; src: url("fonts/OpenSans-Light.ttf") format('truetype');
}

@font-face {
	font-family: 'Open Sans Regular'; src: url("fonts/OpenSans-Regular.ttf") format('truetype');
}

body {
	background-color:#F8F8F8;
}

a {
	color: $link-colour;
	text-decoration:none;
	&:visted {
		color: $link-colour;
	}
}

.hide {
	display:none;
}

.white-bg {
	background-color:#fff;
}

input[type="text"], input[type="number"], input[type="email"], input[type="url"], input[type="password"], input[type="tel"] {
	-webkit-appearence:none;
	border: 1px solid #ccc;
	padding: 5px 10px;
	@include border-radius(4px);
	&:focus {
    	outline-width: 0;
		border: 1px solid #47B9E5;
    }
    &::-webkit-input-placeholder {
    	color:#8F8F8F;
		font-size:13px;
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
		font-weight: 300;
    }
}


@import "ui/header";
@import "ui/footer";
@import "ui/home";

@import "ui/elements";

@import "ui/404";


